@page "/EditClass/{Id}"
@using Students_Challenge.Data
@inject StudentService studentService
@inject NavigationManager NavigationManager

<h2>Edit Class</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
           
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@objclass.name" />
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateClasses" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    classes objclass = new classes();
    protected override async Task OnInitializedAsync()
    {
        objclass = await Task.Run(() => studentService.GetClassAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateClasses()
    {
        await studentService.UpdateClassAsync(objclass);
        NavigationManager.NavigateTo("Classes");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Classes");
    }
}